<div class="photo" style="overflow: hidden; margin-bottom: 10px; width: 700px">

    <div style="width: 306px; height: 306px; float: left">
      <a href="{{ obj.link }}"><img src="{{ obj.images.low_resolution.url }}"></a>
    </div>

    <div style="width: 380px; float: left; margin-left: 10px">
        <h2 style="border: 0; margin: 0 0 5px 0">{{ obj.user.full_name }}: <a href="{{ obj.link }}">{{ obj.caption.text|default:"{no caption}" }}</a></h2>
        <p><strong>uploaded</strong> {{ obj.created_time|date:"H:i F j Y" }}</p>
        {% if obj.tags %}<p><strong>tagged</strong> {{ obj.tags|join:" : " }}</p>{% endif %}
        {% for comment in obj.comments.data %}
	        <p style="font-size: 80%; padding: 0; margin: 2px 0 0 0"><strong>{{ comment.from.full_name }}</strong>: {{ comment.text }}</p>	
        {% endfor %}
    </div>

</div>


