<h2>about feedify/flickr</h2>

<p>The intent was to get an RSS feed of the photos of your contacts, including the friends-only ones. Inexplicably, flickr don't provide this - there's an RSS feed linked off <a href="http://www.flickr.com/photos/friends/">the friends page</a>, but it doesn't include private/friends-only photos. Maybe this is enough for you. But my friends upload a lot of private stuff.</p>

<p>I have a <a href="/instagram/">similar feed generator for Instagram photos</a> if you prefer that.</p>

<p>Providing a 'real' feed has proved much too expensive to do, so what we have here is a half-measure that's a lot cheaper for me, and is 80% as good. But it means that if your contacts upload &gt;5 photos in one block you're going to miss some. On my TODO list is to try to figure out some way of at least <em>noticing</em> that this has happened and linking you to the full photostream in this case.</p>

<p>I'm using the <code><a href="http://www.flickr.com/services/api/flickr.photos.getContactsPhotos.html">flickr.photos.getContactsPhotos</a></code> method in the Flickr API. It returns up to 5 photos per contact from your most recent contacts. I can't get more than that fast enough to serve as an interactive page. Initially, I'd hoped that I could just ask for the photos through the API and <a href="http://code.flickr.com/blog/2008/08/25/api-responses-as-feeds/">get the atom format</a>, but that response format doesn't work for this method for some reason. So this site just builds the feed itself from the JSON response. That's fine. It gives me more control over the formatting anyway.</p>

<p>As it stands, this app is pretty nerdy. If you don't know what an RSS/Atom feed is, it's not for you yet. It'll get better. <a href="mailto:tom@movieos.org">Send me mail</a> if you have complaints / suggestions.</p>
