<div class="photo" style="overflow: hidden; margin-bottom: 10px; width: 300px">

    <div style="width: 300px">
      <a href="{{ obj.link }}"><img src="{{ obj.url_s }}" width="300"></a>
    </div>

    <div style="width: 300px">
        <h2>{{ obj.ownername }}: <a href="{{ obj.link }}">{{ obj.title|default:"{no title}" }}</a></h2>
        <p><strong>uploaded</strong> {{ obj.upload_date|date:"H:i F j Y" }}</p>
        {% if obj.tags %}<p><strong>tagged</strong> {{ obj.tags|join:" : " }}</p>{% endif %}
        <p>{{ obj.description|safe }}</p>
    </div>

</div>
