<!DOCTYPE html>
<html>
<head>
  <title>feedify{% if title %} :: {{ title }}{% endif %}</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="google-site-verification" content="oI63xh4mk47jkvji4sgy70MsZUE3Qsor4NYil8Ii2VU" />
  <meta name="viewport" content="width=800px" />
  <link rel="icon" type="image/png" href="/static/feedify_48x48.png">
  <link rel="apple-touch-icon" href="/static/feedify_57x57.png">
</head>
<body>

<div id="content">

<h1 style="line-height: 32px; height: 32px; display: block">
  <img style="vertical-align:middle" src="/static/feedify_32x32.png">
  <a href="/">feedify</a>{% if title %} :: {{ title }}{% endif %}
</h1>

<h6>RSS feed toys</h6>
<g:plusone annotation="inline"></g:plusone>

{% if messages %}
<h2 style="color: red">errors</h2>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}{% endblock %}

<div style="clear:both"></div>
<div id="footer">another crazy <a href="http://movieos.org/">Tom Insam</a> product</div>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24296284-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- google plus stuff -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

</body>
</html>

