{% extends "base.html" %}{% load cache %}

{% block content %}

<h1>All blog posts</h1>

{% for page in pages %}
<div class="page-in-list">
    <span class="list-main">
      <span class="list-date">{{ page.created|date:"d M Y" }}</span> &raquo;
      <span class="list-title"><a href="{{page.get_absolute_url}}">{{ page }}</a></span>
    </span>
    
    {% if page.precis %}
    <span class="list-precis">
      {{ page.precis }}
    </span>
    {% endif %}

    {% for tag in page.sorted_tags %}
        {% if forloop.first %}<span class="list-tags">{% endif %}
        <a class="tag" href="/tags/{{ tag }}/">#{{ tag }}</a>
        {% if forloop.last %}</span>{% endif %}
    {% endfor %}
</div>
{% endfor %}

{% endblock %}

