{% extends "base.html" %}{% load cache %}

{% block title %}flickr{% endblock %}
{% block content %}

<p>Thanks! You are logged in as {{ token.fullname }}. <a href="/flickr/auth/?logout">log out</a>.</p>
<p>Here are recent uploads from your contacts.

{% if time %}The API call to fetch this took {{ time|floatformat }} seconds.
{% else %}The API call to fetch this was cached.{% endif %}
</p>


<p>You can get the feed for these photos at</p>
<center><pre><strong>{{ settings.SITE_URL }}/flickr/feed/{{ token.feed_secret }}/</strong></pre></center>

<br>
<p>Exclude instagram photos (maybe you see them from somewhere else):</p>
<center><pre><strong>{{ settings.SITE_URL }}/flickr/feed/{{ token.feed_secret }}/?no_instagram=1</strong></pre></center>

<br>
<p>Include your own photos:</p>
<center><pre><strong>{{ settings.SITE_URL }}/flickr/feed/{{ token.feed_secret }}/?include_self=1</strong></pre></center>

<br>
<p>Only photos from your friends:</p>
<center><pre><strong>{{ settings.SITE_URL }}/flickr/feed/{{ token.feed_secret }}/?just_friends=1</strong></pre></center>

<br>
<p>Or combine things:</p>
<center><pre><strong>{{ settings.SITE_URL }}/flickr/feed/{{ token.feed_secret }}/?just_friends=1&amp;no_instagram=1</strong></pre></center>

{% for obj in photos %}
    <hr>
    {% include "_flickr_photo.html" %}
{% endfor %}


<hr>

{% include "_flickr_header.html" %}



{% endblock %}