{% extends "base.html" %}{% load cache %}

{% block content %}
<p>Feedify makes Atom feeds out of things that don't already provide them, because I like subscribing to things in a feed reader rather than having to check everything every day.</p>

<h2>flickr</h2>
<p>Feedify recent uploads from your Flickr contacts.</p>
<p><a href="/flickr/">start here</a></p>

<h2>instagram</h2>
<p>Feedify recent uploads from your Instagram contacts.</p>
<p><a href="/instagram/">start here</a></p>


{% endblock %}